version: '3'

services:
  server:
    container_name: moleculer-server
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    environment:
      - NODE_ENV=production
    restart: always
    ports:
      - 4000:4000
    networks:
      - app_network

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  app_network:
    external: true
